alabaster==0.7.10
appdirs==1.4.3
Babel==2.5.3
Beaker==1.9.1
bzr==2.7.0
chardet==3.0.4
click==5.1
Cython==0.28.2
dbus-python==1.2.4
docutils==0.14
enum==0.4.6
ez-setup==0.9
Flask==0.10.1
funcsigs==1.0.2
future==0.16.0
futures==3.0.3
gevent==1.2.2
gevent-socketio==0.3.6
gevent-websocket==0.9.5
googleplaydownloader==2.3
greenlet==0.4.13
httplib2==0.11.3
idna==2.6
imagesize==1.0.0
itsdangerous==0.24
Jinja2==2.10
louis==3.5.0
Mako==1.0.7
MarkupSafe==1.0
netsnmp-python==1.0a1
numpy==1.14.3
packaging==17.1
pdfshuffler==0.6.0
pyasn1==0.4.2
pycairo==1.17.0
Pygments==2.2.0
pygobject==3.28.2
pyparsing==2.2.0
pyPdf==1.13
PyPDF2==1.26.0
python-dateutil==2.4.2
python-debian==0.1.23
pytz==2018.4
requests==2.18.4
six==1.11.0
snowballstemmer==1.2.1
socketIO-client==0.6.5
Sphinx==1.7.3
sphinx-rtd-theme==0.3.0
sphinxcontrib-websupport==1.0.1.dev20170522
SQLAlchemy==1.2.7
typing==3.6.4
urllib3==1.22
websocket-client==0.37.0
Werkzeug==0.11.9
Whoosh==2.7.4
wxPython==3.0.2.0
wxPython-common==3.0.2.0
